.phrase p, textarea {
    font-size: 1.2rem;
}

textarea {
    height: 120px;
}

textarea:disabled {
    background-color: rgb(221, 221, 221);
}

textarea:focus {
    outline: 0;
}
    
i {
    vertical-align: middle;
}

.green-border{
    border: 3px solid green;
}

.red-border{
    border: 3px solid red;
}